name: Go Checks

on:
  push:
    branches: [ "main" ]

permissions: {}

jobs:

  codecov:
    name: Push to main test
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: 'go.mod'

    - name: Test
      run: go test ./...

    - name: Update coverage report
      uses: ncruces/go-coverage-report@aa507d98fb11c2b4dffa1b731e0786f50fd8ec93 # v0.3.1
      with:
        report: true
        chart: true
        amend: true
      if: github.event_name == 'push'
      continue-on-error: true
